body {
    background-color: black;
    background-image: url(BacroundImage.png);
}

.title {
    color: white;
    font: 5.2em "Gotham Pro Black";
    text-align: center;
    margin-top: -20px;
}

.CringeTech{
    width: 640px;
    margin: 30px auto;
}

.CringeBar{
    width: 750px;
    margin: 0px auto;
}

.ButtonGooglePlayDiv{
    width: 500px;
    margin: 30px auto;
    cursor: pointer;
}

.CrinjometerModelOne{
    width: 1000px;
    margin: 0px auto;
    margin-top: 100px;
}

.CrinjometerModelOneText{
    width: 700px;
    margin: -530px auto;
    font: 2.2em "Arial";
    color: white;
    
    text-align: left;
    transform: translate(6em, 0em);
}

.titleOfise{
    color: white;
    font: 5.2em "Gotham Pro Black";
    text-align: center;
    margin-top: 700px;
}

.MapPosition{
    width: 700px;
    margin: 40px auto;
    font: 2.2em "Arial";
    color: white;
}

.MrWhite{
    width: 700px;
    margin: 40px auto;
    padding: 10px;
}