body {
    background-color: black;
    background-image: url(BacroundImage.png);
}

.title {
    color: white;
    font: 5.2em "Gotham Pro Black";
    text-align: center;
}

.CringeTech{
    width: 640px;
    margin: 30px auto;
}

.CringeBar{
    width: 750px;
    margin: 0px auto;
}

.ButtonGooglePlay{
    width: 494px;
    height: 173px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    background-image: url(%D0%97%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%20%D0%BA%D0%BD%D0%BE%D0%BF%D0%BA%D0%B0.png);
    background-size: cover;
}

.ButtonGooglePlayDiv{
    width: 500px;
    margin: 30px auto;
}